.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: end;
  height: 75px;
  display: flex;
  justify-items: center;
  width: 1920px;
  flex-wrap: nowrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
  }
}

.header-menu {
  display: block;
  flex-direction: row;
  justify-content: start;
  align-content: start;
  height: 75px;
}

.header-logo {
  height: 75px;
  margin-top: 7px;
  margin-left: 150px;
  animation: App-logo-spin infinite 20s linear;
}

.header-logo-brand {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}
